<div class="story">
  <div>
    <span class="gray"><%= the_index + 1 || "" %></span>
    <span class="upvote">▲</span>
    <a href="<%= the_story["url"] %>"><%= the_story["title"] %></a>
    <span><%= the_story["domain"] %></span>
  </div>    
</div>
<div>
  <div class="gray">
    <%= the_story["points"] %> points by <%= the_story["user"] %> <%= the_story["time_ago"] %>
    |
    <a href="/item/<%= the_story["id"] %>">
      <%= the_story["comments_count"] %> comments
    </a>
    |
    <span class="favorite">
      <img class="heart" src="https://icon.now.sh/heart/ccc">
      Add To Favorites
    </span>
  </div>
</div>
